@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <div class="alert alert-warning text-center" role="alert">
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-info">You're not powerful enought to do this :-)</p>
    </div>
</header>
