@using Onebrb.MVC.Areas.Manager.ViewModels.Company;
@model ViewCompanyByIdViewModel

<a class="btn btn-success" title="Edit company" asp-action="Edit" asp-route-id="@Model.Id"><i class="fas fa-edit"></i></a>