@using Onebrb.MVC.Areas.Manager.ViewModels.Company;
@model ViewCompanyByIdViewModel

    <a class="btn btn-danger" title="Delete company" asp-action="Delete" asp-route-id="@Model.Id"><i class="fas fa-trash-alt"></i></a>