@using Onebrb.MVC.Areas.Manager.ViewModels.Company;
@model ViewCompanyByIdViewModel

<a class="btn btn-info" title="Job offers" asp-area="Manager" asp-controller="Job" asp-action="Company" asp-route-id="@Model.Id"><i class="fas fa-users"></i></a>