@using Onebrb.MVC.Areas.Manager.Models;
@model Company

    <a class="btn btn-info" title="Jobs" asp-area="Manager" asp-controller="Job" asp-action="View" asp-route-id="@Model.Id"><i class="fas fa-users"></i></a>