@using Onebrb.MVC.Areas.Manager.ViewModels.Company;
@model ViewCompanyByIdViewModel

<a class="btn btn-warning" title="Enable company" asp-action="Enable" asp-route-id="@Model.Id"><i class="fas fa-lock-open"></i></a>