@using Onebrb.MVC.Areas.Manager.ViewModels.Job;
@model ViewAllJobsByCompanyVM

<a class="btn btn-success" title="Edit offer" asp-controller="Job" asp-action="Edit" asp-route-id="@Model.JobId"><i class="fas fa-edit"></i></a>