@using Onebrb.MVC.Settings;
@using Microsoft.Extensions.Options;
@inject IOptions<GeneralSettings> _generalSettings;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@_generalSettings.Value.SiteName</h1>
    <p>@_generalSettings.Value.SiteSlogan</p>
</div>
