@using Onebrb.MVC.Areas.Manager.ViewModels.Job;
@model EditJobOfferVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-6">
    <form asp-controller="Job" asp-action="Edit" method="post">
        <div class="form-group">
            <h2>Edit @Model.Title</h2>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success"><i class="fas fa-edit fas--space-right"></i>Save</button>
        <a asp-action="Index" class="btn btn-primary"><i class="fas fa-list fas--space-right"></i>All jobs</a>
    </form>
</div>