@using Onebrb.MVC.Areas.Application.Dtos
@model ViewApplicationDto


@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete @Model.UserName application</h1>
<form asp-action="DeleteApplication" asp-route-id="@Model.Id" method="post">
    <button class="btn btn-danger">Delete</button>
    <button class="btn btn-primary">Cancel</button>
</form>
