@using Onebrb.MVC.Areas.Manager.Models;
@model Company

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>You are about to delete @Model.Name </h1>

<form asp-action="Delete" asp-route-id="@Model.Id" method="post">
    <button class="btn btn-danger"><i class="fas fa-trash-alt fas--space-right"></i> Delete</button>
    <button class="btn btn-info" asp-action="Index"><i class="fas fa-window-close fas--space-right"></i> Cancel</button>
</form>

