@using Onebrb.MVC.Areas.Manager.Models;
@model Company

@{
    ViewData["Title"] = "Disable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Disable @Model.Name</h1>
<p>Other people won't be able to see this company. You could enable it later.</p>

<form asp-action="Disable" asp-route-id="@Model.Id" method="post">
    <button type="submit" class="btn btn-danger"><i class="fas fa-lock fas--space-right"></i>Disable</button>
    <button type="submit" class="btn btn-info" asp-action="Index"><i class="fas fa-window-close fas--space-right"></i>Cancel</button>
</form>
