@using Onebrb.MVC.Areas.Manager.Models;
@model Company

@{
    ViewData["Title"] = "Enable company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>You are about to enable @Model.Name</h1>
<p>Other people will be able to see this company. You could disable it later.</p>

<form asp-action="Enable" asp-route-id="@Model.Id" method="post">
    <button type="submit" class="btn btn-success"><i class="fas fa-lock-open"></i> &nbsp; Enable</button>
    <button type="submit" class="btn btn-info" asp-action="Index"><i class="fas fa-window-close"></i> &nbsp; Cancel</button>
</form>
