@using Onebrb.MVC.Areas.Manager.Dtos.Application
@model ViewApplicationDto

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>View application @Model.UserName</h1>

