@using Onebrb.MVC.Areas.Manager.Models;
@model List<Job>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All jobs</h1>

@foreach (var job in @Model)
{
    <p>@job.Title</p>
}

